body {
    display: flex;
    justify-content: center;
    align-items: center;

            margin: 0;
            padding: 0;
            background-image: url("futuristic-metaverse-empty-room-product-display-presentation-abstract-technology-scifi-with-neon-light-3d-background.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        
}

.container {
    width: 800px;
    height: 500px;
    background-color: brown;
    background: linear-gradient(180deg,blue,red,yellow);
    display: grid;
    grid-template-rows: 50px 200px 100px auto;
       box-shadow: 0px 0px 16px 9px #5034a3;
margin-top: 100px;
border: solid 2px blue;
border-radius: 50px;


}

.cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
    left: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
}

.cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 251, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    border: solid 3px rgb(186, 255, 24);
    border-radius: 20px;
  font-family: 'Orbitron';
    box-shadow: 0px 0px 9px 5px #d9ff19;
    cursor:default;
}


#colon {
    width: 50px;
}

button {
    height: 30px;
    width: 100px;
    background-color: #26ff00;
     box-shadow: 0px 0px 9px 5px #b5ff79;
     border:solid 1px rgb(17, 230, 17);
     border-radius: 10px;
     transform: scale(1);
     cursor: pointer;
     
}


.box {
    background: rgba(255, 255, 255, 0.1); 
    /* Transparent white */
    backdrop-filter: blur(10px);
     /* Glass blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    color: rgb(199, 196, 241); /* Neon background par white text better lagta hai */
}
button {
    transition: all 0.3s ease; /* Smooth transition */
}
button:hover{
    background-color: #26ff0066;
    filter: brightness(1.2);
}
button:active {
    background-color: #1ed700;
    transform: translateY(-3px); /* Button thoda upar uthega */
    box-shadow: 0px 5px 15px rgba(38, 255, 0, 0.4);
     z-index: 10;
}